<div class="container mt-4">
  <div class="card mb-3 card border-info mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../../../assets/img/icons/ICON-CONSTANCIA.svg"
          class="card-img-top"
          alt="ICON-CONSTANCIA"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ reimpresion.nombre }}</h5>
          <p class="card-text">
            Fecha de Solicitud: {{ reimpresion.fecha_solicitud }}
          </p>
          <p class="card-text">
            Fecha de Examen: {{ reimpresion.fecha_examen }}
          </p>
          <p class="card-text">
            Estado del Pago: <a *ngIf="!reimpresion.estado_pago">SIN PAGAR</a>
            <a *ngIf="reimpresion.estado_pago">PAGADA</a>
          </p>
          <h5 class="ca rd-title">
            {{ reimpresion.estado_reimpresion | titlecase }}
          </h5>

          <div class="d-grid gap-2 d-md-bloc">
            <a
              [routerLink]="['/reimpresion']"
              class="btn btn-warning"
              role="button"
              >Volver
            </a>
            <a
              class="btn btn-danger"
              *ngIf="
                reimpresion.estado_pago == true &&
                reimpresion.estado_reimpresion == 'reimpresa'
              "
              (click)="entregarReimpresion(reimpresion)"
              role="button"
              >Entregar</a
            >
            <a
              *ngIf="reimpresion.estado_pago == false"
              class="btn btn-primary"
              (click)="editarReimpresion(reimpresion)"
              role="button"
              >Confirmar Pago</a
            >
            <div *ngIf="auth.user$  | async as user">
              <a
                *ngIf="reimpresion.estado_reimpresion == 'solicitada'&& user.email == 'javier.velazquez5578@alumnos.udg.mx' && user.email_verified == true"
                (click)="realizarReimpresion(reimpresion)"
                class="btn btn-warning"
                role="button"
                >Reimprimir</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
