<body>
    <header>
        <div class="container">
            <h1>CSS H1 HEADER TITLE</h1>
        </div>
    </header>

    <section class="section-one">
        <div class="container">
            <h2>titulo h2 en la primera section dentro de container</h2>
            <img src="../../../assets/img/home-slide-third.png" alt="generic image" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tenetur incidunt id molestiae eveniet vel aspernatur blanditiis quas ratione. Qui consequuntur ex itaque expedita obcaecati incidunt commodi nihil sed voluptatem.
            </p>
            <strong>Defines important text </strong>
        </div>
    </section>


    <section class="section-two">
        <div class="container">
            <h2>Section 2 titulo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam cum eum facere, similique distinctio beatae. Nihil ducimus sapiente repudiandae itaque similique velit ex deserunt est ut, illo dolor earum amet!</p>

        </div>

    </section>

</body>